# Eclipse project files & directories
/.cproject
/.project
/.settings/

# aclocal file & directories
/aclocal.m4
/autom4te.cache/

# autoheader files
/config.h.in

# autoconf file
/configure

# automake files
Makefile.in
/compile
/depcomp
/install-sh
/missing

# Build directory
/build/
